// variaveis 

$cor1:#00327F;
$cor2:#4C93FF;
$cor3:#0064FF;
$cor4:#26497F;
$cor5:#0050CC;
$cinza-claro:#DBD9D4;
$cinza-escuro:#ABA7A1;
$font-size-title:2.5rem;
$fonte-titulo:'Montserrat', 'sans-serif';
// $fonte-padrao:'','';

// Geral 
* {
    margin: 0 auto;

}

// Nav
nav {
    ul {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li {
            list-style: none;
            display: inline-block;
            padding: 15px;
        }
    }
    .btn1 {
        height: 86px;
        border: 3px solid $cor2;
        color: $cor2;
        border-radius: 12px;
        cursor: pointer;
        padding: 14px 26px;
    }
    .btn1:hover {
        background-color: $cor2;
        color: $cinza-claro;
    }
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color:$cor2;
}

// Body
body {
    section {
        background-color: white;
        .section1{
            min-height: 88vh;
            background-color: $cinza-claro;
        }
    }
    .section2 {
        min-height: 100vh;
        p {
            text-align: center;
            margin-top: 50px;
        }
        .card {
            background-color: $cinza-claro;
            width: 200px;
            img {
                margin-top: 40px;
                width: 25%;
            }
        }
        .titulo-section {
            h2 {
                margin-top: 100px;
                text-align: center;
            }
            p {
                margin-bottom: 50px;
                width: 340px;
            }
        }
        .container {
            .card {
                wi
            &:hover {
                width: 35%;

            }
            }
        }
        }


    .section3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        min-height: calc(100vh - 88px);
        // margin-left: 100px;
        h1 {
            background-color: $cor2;
            width: 405px;
            // font-family: 'Lato',serif;
            // margin-bottom: 100px;
        }
        .btn2 {
            border: 2px solid white;
            background: $cor2;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }
        .img_celular {
            width: 40%;
            img {
                width: 100%;
            }
        }
        .link_download {
            display: inline-block;
        }
    }
}


footer {
    background-color: $cor2;
    p {
        color: white;
    }
}

.scrollToTop {
    position:fixed;
    bottom: 27px;
    right: 15px;
    display:none;
    padding: 10px;
    cursor: pointer;

    .scroll-img {
        display: flex;
        flex-direction: column;
    }
}
